@model string[]

@{
    ViewBag.Title = "Index";
}


@section Header{
    <div class="view">
        @foreach (string str in new[] {"Home", "List", "Edit"})
        {
            @Html.ActionLink(str, str, null, new {style = "margin: 5px;"})
        }
    </div>
}

<div class="view">
    This is a list of fruit names:
    @foreach (string fruit in Model)
    {
        <span><b>@fruit</b></span>
    }
</div>

@section Header{
    <div class="view">
        This is the footer
    </div>
}
